<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative aos-init aos-animate"
        data-aos="zoom-out">
        {{>message}}
        <div class="row">
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <br>
                <h2><strong>OFERTA DE PRODUCTOS</strong> <span><strong>2022</strong></span></h2>
                <p>Obtén el -20% en diferentes produtos. Garantía de 12
                    meses.</p>
            </div>
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <img src="/img/socialmedia/Deoble-index.jpeg" class="img-fluid animated">
            </div>
        </div>
        <br><br><br>
        <div class="d-flex">
            <a href="/socialmedia" type="button" class="btn button btn-get-started btn-lg scrollto">Compra YA!</a>
        </div>
        <br>
        <p style="color:#a5b7d2">12 meses de garantía</p>
    </div>
</section>
